<section id="sec-footer" class="footer">
    <div class="container-fluid">
        <!-- En esta seccion dispondremos del footer de la página con una sección de ayuda, una de
        información, una de suscripción y con un mensaje de derechos reservados en un contenedor aparte -->
        <div class="container">
            <div class="row footer-row my-auto">
                <div class="foot-bot col-md-4 col-sm-6">
                    <!-- Necesitas ayuda -->
                    <p class="f-blanco">NECESITAS AYUDA?</p>
                    <p class="f-blanco">0264 123 4567<br>enquiry@geekshubstravels.com</p>
                    <p class="f-blanco">Lun-Vie. 9:30-19:00 Sab: 10.00-14.00</p>

                </div>
                <div class="foot-bot col-md-4 col-sm-6 d-none d-sm-block">
                    <!-- Información -->
                    <p class="f-blanco">INFORMACION</p>
                    <p class="f-blanco">
                        Quienes somos<br>Preguntas frecuentes<br>Politica de
                        privacidad<br>Condiciones generales<br>Aviso legal<br>contacto<br>Programa de puntos
                    </p>
                </div>
                <div class="foot-bot col-md-4 col-sm-12">
                    <!-- Suscribete a la newsletter -->
                    <p class="f-blanco">SUSCRIBETE A LA NEWSLETTER</p>
                    <input type="email" class="form-control" id="email2"
                           aria-describedby="emailHelp"
                           placeholder="Correo electronico">
                    <button type="submit" class="btn btn-warning btnform">SUSCRIBITE</button>
                </div>

            </div>
        </div>

        <!-- Separador negro -->
        <div class="col-12 separador-footer">
            <hr class="hr-footer" />
        </div>

        <div class="container">
            <!-- Derechos reservados -->
            <div class="row foot-rights ">
                <div class="col-12 d-none d-sm-block">
                    <p class="f-blanco text-center">GeeksHubs Travels 2018 Todos los derechos reservados</p>
                </div>
                <div class="col d-block d-sm-none d-flex justify-content-center">
                    <!-- Menu Social -->
                    <div class="my-auto">
                        <nav>
                            <!-- Iconosos sociales: twiter,whatsapp,facebook,instagram,linkedIn,Youtube -->
                            <span><img src="img/social/twiter.png" alt=""></span>
                            <span><img src="img/social/whatsapp.png" alt=""></span>
                            <span><img src="img/social/facebook.png" alt=""></span>
                            <span><img src="img/social/instagram.png" alt=""></span>
                            <span><img src="img/social/linkedin.png" alt=""></span>
                            <span><img src="img/social/youtube.png" alt=""></span>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>