<div class="row" style="background-color:darkgray;padding-top:25vh;">
    <style>
        .item {
            margin: 3vh 0vh;
            min-height: 10vh;
            background-color: white;
        }
        .item-list {
            background-color: white;
            padding-top: 5vh;
        }
    </style>
    <div class="col-12 full-page item-list">
        <div class="row">
            <div class="col-12">
                <h3 style="margin-left:8vw"><b>Cesta</b></h3>
                <hr />
            </div>
        </div>
        
        <div class="row item">
            <div class="col-3 d-flex justify-content-center" style="">
                <div>
                    <h4>IMAGEN</h4>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h4>TITULO DEL DESTINO</h4>
                    <p>Disponibilidad</p>
                    <p><a href="#">Eliminar</a></p>

                </div>
            </div>
        </div>


    </div>
</div>