<div class="row full-page page-404">
    <div class="col-12 my-auto">
        <div class="d-flex justify-content-center">
            <img class="img-responsive" src="img/404.png" alt="Alternate Text" />
        </div>
        <div>
            <br />
            <p class="text-center f-blanco bold ">La pagina que estas buscando no ha sido encontrada.</p>
        </div>
    </div>
</div>
