<section class="bienvenida">
	<div class="row mitad-page d-flex justify-content-center" >
		<div class="col-5" >
			<div class="row">
				<div class="col-12 contenido-bienvenida">
					<h3 class="text-center">Bienvenido a GeeksHubs Travels</h3>
					<p class="text-center">Tu usuario a sido registrado con exito comienza a disfrutar de nuestros viajes!</p>
					<div class="d-flex justify-content-center">
						<a href="/"><button class="btn btn-warning">Ir a la pagina principal</button>
					</div>

				</div>
				
			</div>
		</div>
	</div>
</section>